
.page-link[data-v-014f0510] {
  border-radius:0.25rem;background-color:rgb(156 163 175 / 0.1);padding-top:0.5rem;padding-bottom:0.5rem;padding-left:1rem;padding-right:1rem;
}.page-link[data-v-014f0510]:hover{background-color:rgb(156 163 175 / 0.2);}
