
.autocomplete-list[data-v-42be5418] {
  ;margin-top:0.25rem;--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));
  overflow: auto;
  max-height: calc(100vh - 100px);
}.dark .autocomplete-list[data-v-42be5418]{--un-bg-opacity:1;background-color:rgb(18 18 18 / var(--un-bg-opacity));}
.autocomplete[data-v-42be5418] {
  cursor: pointer;
}

.laser-pointer[data-v-9cef461a] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at center,
    rgba(255, 80, 80, 1) 0%,
    rgba(255, 0, 0, 0.95) 55%,
    rgba(255, 0, 0, 0.1) 100%
  );
  box-shadow:
    0 0 10px rgba(255, 0, 0, 0.9),
    0 0 22px rgba(255, 0, 0, 0.55);
}

.slidev-self-laser-active .slidev-slide-container {
  cursor: none;
}

.slider {
  appearance: none;
  height: 22px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow:hidden;border-width:1px;border-color:rgb(156 163 175 / 0.2);border-radius:0.25rem;background-color:rgb(156 163 175 / 0.05);
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 22px;
  background: var(--slidev-theme-primary);
  cursor: pointer;
  z-index: 10;
}
.slider::-moz-range-thumb {
  width: 5px;
  height: 22px;
  background: var(--slidev-theme-primary);
  cursor: pointer;
  z-index: 10;
}

.item[data-v-6cd69f25] {
  display:flex;cursor:default;gap:0.25rem;white-space:nowrap;border-radius:0.25rem;padding-top:0.25rem;padding-bottom:0.25rem;padding-left:0.5rem;padding-right:0.5rem;
}.item[data-v-6cd69f25]:hover{--un-bg-opacity:1;background-color:rgb(156 163 175 / var(--un-bg-opacity));--un-bg-opacity:0.1;}
.title[data-v-6cd69f25] {
  -webkit-user-select:none;user-select:none;padding-left:0.75rem;padding-right:0.75rem;padding-top:0.25rem;padding-bottom:0.25rem;text-wrap:nowrap;font-size:0.875rem;line-height:1.25rem;font-weight:700;opacity:0.75;
}

#slideshow[data-v-7fa97661] {
  height: 100%;
}
